body {	
	font-family: monospace;
	width:  100%;
	display: inline-block;
	text-rendering: geometricPrecision;
	font-weight: 100;
	line-height:  20px;
	color:  #191919;
}

.content {
	text-align: center;
	position: relative;
	width:  700px;
	text-align: justify;
	margin:  0 auto;
	padding-top:  75px;
	padding-bottom:  800px;
}


.content img, .content video {
	width:  100%;
}

.content i{
	font-weight: bold;
}

.content p {
	padding-top:  0px;
}

.content .date {
	padding-top:  75px;
	opacity:  50%;
}

.content img, .content video {
	padding-top:  12px;
} 

.tooltip {
	font-style:  normal;
	display: none;
}

.seemore {
	text-decoration: underline;
	color:  blue;
	font-style: normal;
	padding-top:  0px;
}

.seemore:hover{
	cursor: pointer;
}
